<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  For any rails guide, checkout this page
  <a href="http://www.railstutorial.org/help">Rails Tutorial help section</a>.
  To get help on this sample app, see the

</p>
